<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BANA HOSPITAL</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>BANA HOSPITAL</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Welcome to Bana hospital</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
   <h1 class="h-light" style="font-family: 'IBM Plex Sans', sans-serif;color: black">Provide best quality healthcare for you</h1>
    <p class="lead">Bana is expanding it's services.
    <br>Bana Hospital is established by more than ten specialist and sub specialist doctors in Mekelle, Tigray, Ethiopia.</p>
    <hr class="my-4">
    <div class="row">
          <div class="col-sm-3 col-md-3">
              <div class="wow fadeInLeft" data-wow-delay="0.2s">
                <ul class="lead-list">
                    <span class="fa fa-check-square-o fa-2x icon-success"></span> <span class="list"><strong>Make an appointment</strong><br /> </span>
                    <span class="fa fa-check-square-o fa-2x icon-success"></span> <span class="list"><strong>Help by specialist</strong><br /> </span>
                    <span class="fa fa-check-square-o fa-2x icon-success"></span> <span class="list"><strong>Get your diagnostic report</strong><br /> </span>
                  </ul>
              </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              <img src="static/images/ui.png" class="img-responsive" alt="" />
            </div>
          </div>
                  <div class="col-sm-3 col-md-3">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              <img src="static/images/us.png" class="img-responsive" alt="" />
            </div>
          </div>
        
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              <img src="static/images/uo.png" class="img-responsive" alt="" />
            </div>
    </div>
    </div>
      <br>  <br> <br> <br> <br> <br>
       <section id="boxes" class="home-section paddingtop-80" style="background: -webkit-linear-gradient(left, #d4d4ec, rgba(60,49,49,0.42));color: #040404;font-family: 'IBM Plex Sans', sans-serif;">

      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.3s">
              <div class="box text-center">
                <h4> <i class="fa fa-medkit"></i>Emergency services</h4>
              </div>
            </div>
          </div>
            
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-hospital-o"></i>Gynecologic & obstetrics</h4>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.7s">
              <div class="box text-center">
               
                <h4> <i class="fa fa-user-md fa-3x bg-skin"></i>Internal Medicine</h4>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">

            <div class="wow fadeInUp" data-wow-delay="0.9s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-hospital-o"></i>Pediatrics & adolescents </h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


      
      
       <section id="boxes" class="home-section paddingtop-80" style="background: -webkit-linear-gradient(left, #d4d4ec, rgba(60,49,49,0.42));color: #040404;font-family: 'IBM Plex Sans', sans-serif;">

      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.3s">
              <div class="box text-center">
                <h4> <i class="fa fa-scissors"></i>Minor & Major Surgeries</h4>
              </div>
            </div>
          </div>
            
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-smile-o"></i>Dental Medicine</h4>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.7s">
              <div class="box text-center">
               
                <h4> <i class="fa fa-stethoscope"></i>Complete Laboratory</h4>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">

            <div class="wow fadeInUp" data-wow-delay="0.9s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-heartbeat"></i>Thoracic & Vascular Surgery </h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

      
      
       <section id="boxes" class="home-section paddingtop-80" style="background: -webkit-linear-gradient(left, #d4d4ec, rgba(60,49,49,0.42));color: #040404;font-family: 'IBM Plex Sans', sans-serif;">

      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.3s">
              <div class="box text-center">
                <h4> <i class="fa fa-stethoscope"></i> ENT(Ear, Nose & Throat</h4>
              </div>
            </div>
          </div>
            
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-filter fa-3x"></i>Radiology</h4>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.7s">
              <div class="box text-center">
               
                <h4> <i class="fa fa-plus-square fa-3x"></i>Pharmacy</h4>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3">

            <div class="wow fadeInUp" data-wow-delay="0.9s">
              <div class="box text-center">
                  
                <h4> <i class="fa fa-heartbeat"></i>Physiotherapy & others...</h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </div>
    </section>
      
         
  
  <br>  <br>  <center><b> Explore our Website here </b>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>


</html>
